BattleSim/Binaries/
BattleSim/BattleSim.sdf
BattleSim/BattleSim.sln
BattleSim/BattleSim.uproject
BattleSim/Saved/
BattleSim/.vs/
BattleSim/Intermediate/
BattleSim/BattleSim.VC.db
BattleSim/Build/
BattleSim/BattleSim.png
